---
layout: default
---
<div class="container"> 
	<div id="indexwrapper" class="row">
		<div id="archives">
			{% assign counter=0 %}
			{% for category in site.categories %}
				{% assign counter=counter | plus:1 %}
		  		<div class="archive-group">
					{% capture category_name %}{{ category | first }}{% endcapture %}
					<div id="#{{ category_name | slugize }}">
						<div id="category-{{ counter }}" class="category-head">
							<h1>{{ category_name }}</h1>
						</div>
						{% for post in site.categories[category_name] %}
							<article class="archive-item">
								<h3>
									<a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
								</h3>
								<div class="excerpt">                
									<p class="lead">
											{{ post.content | strip_html | truncatewords: 20 }}
									</p>
								</div>
							</article>
						{% endfor %}
					</div>
		  		</div>
			{% endfor %}
		</div>
	</div>
</div>

