---
layout: default
title: Tagged
---

{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div class="container"> 
	<div class="row">
	<main role="main">
		<div>
			{% for tag in tags %}
			<div class="jumptarget" id="{{ tag | slugify }}">
				<h4><span class="label label-info">{{ tag }}</span></h4>
			</div>
			<ul class="post-list">
				{% for post in site.posts %}
		    		{% if post.tags contains tag %}
					<li>
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</li>
					{% endif %}
		    	{% endfor %}
			</ul>
			{% endfor %}
		</div>
	</main>
	</div>
</div>
