<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<img src="{{ "/images/logo.png" | prepend: site.baseurl }}" height="50" width="50" alt="Mason" />
		</div>

		<ul class="social-sites">
			<li><a href="http://www.linkedin.com/in/starshining">i</a></li>
			<li><a href="https://starshining8.wordpress.com/">W</a></li>
			<li><a href="skype:+frank_jobs?chat">H</a></li>
		</ul>

		<ul class="nav navbar-nav">
			<li><a href="{{ "/" | prepend: site.baseurl }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			<li><a href="{{ "/about/index.html" | prepend: site.baseurl }}"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
			<li><a href="{{ "/comtact.html" | prepend: site.baseurl }}"><span class="glyphicon glyphicon-eye-open"></span> Contact</a></li>
		</ul>
	</div>
</nav>