/**
 * Site header
 */

body {
	padding-top: $top-navbar-height;
	padding-bottom: $bottom-navbar-height;
}

.social-sites {
	margin: 0;
	padding: 0;
	position: absolute;
	right: $social-right;
	top: $social-top;
}

.social-sites li {
	display: inline;
	margin-left: -1px;
}

.social-sites a {
	color: #019443;
	font-family: 'Social Icons', sans-serif;
	font-size: $social-font-size;
	line-height: .8;
	vertical-align: middle;
}

.social-sites a:hover {
	color: #1162a4;
	text-decoration: none;
}

.copyright {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.copyright li {
	color: #019443;
	display: inline-block;
}
  
.copyright li:first-child::after {
	content: "|";
	display: inline-block;
	padding-left: 0.6rem;
}

.sidebtn {
	height: 20px;
	width: 20px;
	position:f ixed;
	top: $top-navbar-height;
    right: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: $top-navbar-height;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.floatBar {
    height: 100px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: $top-navbar-height;
    right: 0;
    background-color: #019443;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sideBtn {
	height: 20px;
	width: 20px;
	position: fixed;
	right: 0;
    z-index: 1;
    top: $top-navbar-height;
}

.floatBar a {
    text-decoration: none;
    font-size: 26px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.floatBar a:hover {
    color: #f1f1f1;
}

.floatBar .closeBtn {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 26px;
    margin-left: 5px;
}

@media screen and (max-height: 450px) {
  //.sidenav {padding-top: 15px;}
  //.sidenav a {font-size: 18px;}
}

/* Scroll Div */
div.category-head {
	position: -webkit-sticky;
	position: sticky;
	padding: 0 0 0 0;
	top: 60px;
	background-color: #cae8ca;
	border: 2px solid #4CAF50;
}

.floatTime {
	position: fixed;
	bottom: 60px; 
	right: 0; 
	margin-left: 10px;
}

.jumptarget::before {
	content:"";
	display:block;
	height:60px; /* fixed header height*/
	margin:-60px 0 0; /* negative fixed header height */
  }

/////////////////////////////

article header p {
	background-color: #019443;
	color: white;
	margin: 8px 0;
}

.tags {
	list-style: none;  
}

.tag {
	background: silver;
	color: blue;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	margin: 0 10px 10px 0;
	border-bottom: 2px solid yellow;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.tag:hover {
	background-color: crimson;
	color: white;
}

.tag:hover::after {
	border-left-color: crimson; 
}

.post-photo-full {
	max-width: 100%;
}