<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closeBtn">&times;</a>
		{% assign counter=0 %}
		{% for category in site.categories %}
			{% assign counter=counter | plus:1 %}
			{% capture category_name %}{{ category | first }}{% endcapture %}
			<a href="#category-{{ counter }}" class="catagories">{{ category_name | capitalize }}</a>
		{% endfor %}
	</div>
	<div id="myFloatBar" class="floatBar">	
		<a href="javascript:void(0)" class="closeBtn">&times;</a>
		<div class="container">      
			<div>
				<button id="BtnGreen" type="button" style="background:rgb(219, 238, 221); padding:18px 18px"></button>
				<button id="BtnNight"type="button" style="background:rgb(53, 52, 54); padding:18px 18px"></button>
			</div>
		</div>
	</div>
	<div id="mySideBtn" class="sideBtn">
		<span class="glyphicon glyphicon-cog" style="font-size:20px"></span></a>
	</div>
	{% include header.html %}
	{{ content }}
	{% include footer.html %}
</body>
</html>