<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	<div id="mySidenav" class="sidenav">
		
		<a href="javascript:void(0)" class="closebtn">&times;</a>
		<div class="container">      
			<div>
				<button id="BtnGreen" type="button" style="background:rgb(219, 238, 221); padding:18px 18px"></button>
				<button id="BtnNight"type="button" style="background-color:rgb(53, 52, 54); padding:18px 18px"></button>
			</div>
		</div>
	</div>
	<div id="mySideBtn" style="height:20px;width:20px;position:fixed;right:0">
		<span class="glyphicon glyphicon-cog" style="font-size:20px"></span></a>
	</div>
	{% include header.html %}
	{{ content }}
	{% include footer.html %}
</body>
</html>