<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	{% include header.html %}
	<div class="post-wrapper">
		<main role="main">
			<div class="post-container">
				{% if page.img %}
				<img class="post-img" src={{ "/images/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
				{% endif %}
				<div class="post-content">
					<article>
						<header>
							<h1 class="post-title">{{page.title}}</h1>
							{% if page.author %}
								<p>Posted by: {{page.author}}</p>
							{% endif %}
							{% if page.tags %}
								<ul class="tags">
								{% for tag in page.tags %}
									<li class="tag"><a href="javascript:void()">{{ tag }}</a></li>
								{% endfor %}
								</ul>
							{% endif %}
						</header>
						<p>{{page.content | markdownify}}</p>
					</article>
					{% include share.html %}
					{% include disqus.html %}
					{% include txtpen.html %}
				</div>
			</div>
		</main>
	</div>
	<div class="push"><div>
	{% include footer.html %}
</body>
</html>
