---
layout: default
---
<div id="postContent" class="container"> 
	<div class="row">
	<main role="main">
		<div class="post-container">
			{% if page.img %}
			<img class="post-img" src={{ "/images/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
			{% endif %}
			{% if page.docurl %}
			<div id="pdf">
			    <object id="pdf_content" width="100%" height="1500px" type="application/pdf" trusted="yes" application="yes" title="Assembly" data="{{ "?#zoom=100&scrollbar=1&toolbar=1&navpanes=1" | prepend: page.docurl | prepend: site.baseurl }}">
			    <!-- <embed src="{{ page.docurl | prepend: site.baseurl }}" width="100%" height="100%" type="application/x-pdf" trusted="yes" application="yes" title="Assembly">
			    </embed> -->
			    <p>System Error - This PDF cannot be displayed, please contact the author.</p>
			    </object>
			</div>
			{% else %}
			<div>
				<article>
					<header>
						<h1>{{page.title}}</h1>
						{% if page.author %}
							<p>Posted by: {{page.author}}</p>
						{% endif %}
						{% if page.tags %}
							{% for tag in page.tags %}
								{% assign count = 0 %}
								{% for post in site.posts %}
									{% if post.tags contains tag %}
										{% assign count=count | plus:1 %}
									{% endif %}
								{% endfor %}
								<a href="{{ site.baseurl }}/tagged#{{ tag | slugify }}" class="btn btn-info btn-xs" role="button">{{ tag }} <span class="badge">{{ count }}</span></a>
							{% endfor %}
						{% endif %}
					</header>
					<p>{{page.content | markdownify}}</p>
				</article>
				{% include share.html %}
				{% include disqus.html %}
				{% include txtpen.html %}
			</div>
			{% endif %}
		</div>
	</main>
	</div>
</div>
